<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="PublicEventsManagerConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=PublicEventsManager;Integrated Security=True"/>
  </connectionStrings>
</configuration>